div(style="position: fixed; top: 12px; left: 13px;")
  div(style="position: fixed; top: 50px; left: 20px;")
    .referentiel
      .assert(data-assert="20,50:0,0")
      .assert(data-assert="30,60:10,10")
