div(style="position: relative; top: 40px; left: 40px")
  p Hello World
  div
    div(style="position: absolute; top: 40px; left: 50px;")
      .referentiel
        .assert(data-assert="90,80:0,0")
        .assert(data-assert="140,130:50,50")
        .assert(data-assert="190,180:100,100")
