.referentiel(style="transform-origin: 0 0;transform: scale(2) rotate(30deg);")
  .assert(data-assert="0,0:0,0")
  .assert(data-assert="173.205,100:100,0")
  .assert(data-assert="73.205,273.205:100,100")
