.referentiel(style="transform-origin: 0 0;transform: rotate(20deg);")
  .assert(data-assert="0,0:0,0")
  .assert(data-assert="59.7673,128.1713:100,100")
  .assert(data-assert="29.88365,64.0856:50,50")
