.referentiel(style="transform-origin: 5px 5px;transform: rotate(25deg);")
  .assert(data-assert="5,5:5,5")
  .assert(data-assert="0,0:-1.645,2.582")
  .assert(data-assert="50.95055,131.24797:100,100")
