svg(width=200 height=200 viewbox="0 0 100 100")
  g.referentiel(style="transform: scale(0.5);")
    circle.pointer(cx=10 cy=10 r=10)
    circle(data-assert="0,0:0,0" r=1)
    circle(data-assert="10,10:10,10" r=1)
