svg.referentiel(width=100 height=100 viewbox="10 10 50 50")
  circle.pointer(cx=10 cy=10 r=10)
  circle(data-assert="0,0:10,10" r=1)
  circle(data-assert="100,100:60,60" r=1)
  circle(data-assert="90,90:55,55" r=1)
