svg(width=100 height=100 viewbox="0 0 100 100")
  g(transform="matrix(1, 0, 0, 1, 10, 12)")
    g.referentiel
      circle.pointer(cx=10 cy=10 r=10)
      circle(data-assert="0,0:-10,-12" r=1)
      circle(data-assert="21,22:11,10" r=1)
