svg.referentiel(style="border: 10px solid black;" width=100 height=100 viewbox="10 20 100 100")
  circle.pointer(cx=10 cy=10 r=10)
  circle(data-assert="10,10:10,20" r=1)
  circle(data-assert="110,110:110,120" r=1)
