doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(type='text/javascript', src='../dist/referentiel.js')
    script(type='text/javascript', src='../node_modules/jquery/dist/jquery.js')
    script(type='text/javascript', src='http://coffeescript.org/v1/browser-compiler/coffee-script.js')
    script(type='text/coffeescript', src='demo.coffee')
    link(rel="stylesheet" media="all" href="../node_modules/normalize.css/normalize.css")
    link(rel="stylesheet" media="all" href="demo.css")
  body
    .referentiel(style="transform: rotate(10deg) scale(2);;transform-origin: 0 0; width: 200px; height: 200px; background: pink;")
      .pointer
